<h2>New Brand</h2>
<form action="/phones/new" method="post" enctype="multipart/form-data">
    <%- include('./form_fields') %>
    <div>
        <a href="/phones">Cancel</a>
        <button type="submit" class="btn btn-outline-primary">Create</button>
    </div>
</form>